* {
  box-sizing: border-box;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: black;
  border: 2px solid #FFD700 !important;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: black;
  border: 2px solid #FFD700 !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}
  
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFD700;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.text-gold {
  color: #FFD700 !important;
}

.border-gold {
  border: 2px solid #FFD700 !important;
}

.border-start-gold {
  border-left: 2px solid #FFD700 !important;
}

.range-gold {
  accent-color: #FFD700 !important;
}

.fsrem-1 {
  font-size: 1.1rem !important;
}
